<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stadium.name %>
</p>

<p>
  <b>City:</b>
  <%= @stadium.city %>
</p>

<p>
  <b>Owner club:</b>
  <%= @stadium.owner_club %>
</p>

<p>
  <b>Capacity:</b>
  <%= @stadium.capacity %>
</p>

<p>
  <b>Description:</b>
  <%= @stadium.description %>
</p>

<p>
  <b>Status:</b>
  <%= @stadium.status %>
</p>

<p> 
	<%= image_tag(@stadium.image_url, alt: @stadium.name, size: 300)%>
</p>


<%= link_to 'Edit', edit_stadium_path(@stadium) %> |
<%= link_to 'Back', stadia_path %>
