<p id="notice"><%= notice %></p>

<%= image_tag(@stadium.image_url , alt: @stadium.name)%> <!--, size: "500x500") %> -->

<ul class="users">
  <li><b>Name: </b> <%= @stadium.name %></li>
  <li><b>City: </b> <%= @stadium.city %></li>
  <li><b>Owner Club: </b> <%= @stadium.owner_club %></li>
  <% if !@stadium.status %>
  <li><b>Status:</b> Available</li>
  <% else %>
  <li><b>Status:</b> Occupied</li>
  <% end %>
  <li><b>Capacity: </b> <%= @stadium.capacity %></li>
  <li> <%= @stadium.description %></li>
</ul>


<% if admin_user? %>
	<%= link_to "Delete", @stadium, method: :delete,
                                data: { confirm: "You sure?" } %> |
	<%= link_to 'Edit', edit_stadium_path(@stadium) %> |
<% end %>

<%= link_to 'Back', stadia_path %>
