<p id="notice"><%= notice %></p>


<h1>
	<%= @bracket.name %>
</h1>

<div class="span6">
  <% if @bracket.groups.any? %>
     <ol class="user">
	     <%= render @groups %>
	 </ol>
	 <%= will_paginate @groups %>
  <% end %>
</div>

<% if admin_user? %>
	<%= link_to "Delete", @bracket, method: :delete,
                                data: { confirm: "You sure?" } %> |
	<%= link_to 'Edit', edit_bracket_path(@bracket) %> |
<% end %>

<%= link_to 'Back', brackets_path %>
