<tr>
    <td><%= group_stat.matches_played %></td>
    <td><%= group_stat.wins %></td>
    <td><%= group_stat.draws %></td>
    <td><%= group_stat.loses %></td>
    <td><%= group_stat.goals_favor %></td>
    <td><%= group_stat.goals_against %></td>
    <td><%= group_stat.points %></td>
</tr>