<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
  	 <%= select_tag "team1", 
  	 options_from_collection_for_select(Team.all, :id , :name,@match.teams.map{ |j| j.id })%>
  	 
  	 <%= select_tag "team2", 
  	 options_from_collection_for_select(Team.all, :id , :name,@match.teams.map{ |j| j.id })%>
  </div>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  
  <div class="field">
  	 Stadium
  	 <%= f.collection_select(:stadium_id, Stadium.all, :id, :name, prompt: true) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
