<p id="notice"><%= notice %></p>

<ul class="users">
  <li><b>Name: </b> <%= @country.name %></li>
  <li><b>Flag: </b> <%= image_tag(@country.flag_url , alt: @country.name, size: "50x100") %></li>
  <li><b>FIFA logo: </b> <%= image_tag(@country.logo_url , alt: @country.name, size: "50x50") %></li>
  <li><b> <%= link_to "View Team", @country.team %> </b></li>
</ul>


<% if current_user.admin? %>
	<%= link_to "Delete", @country, method: :delete,
                                data: { confirm: "You sure?" } %> |
	<%= link_to 'Edit', edit_stadium_path(@country) %> |
<% end %>

<%= link_to 'Back', countries_path %>
