<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_time %><br />
    <%= f.datetime_select :date_time %>
  </div>
   <div class="field">
  	 <%= f.collection_select(:player_id, Player.all, :id, :name, {}, :style => "width:300px; height:50px") %>
  </div>
  <div class="field">
    <%= f.label :match_id %><br />
    <%= f.number_field :match_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
